<!-- Trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= form_with(model: User, 
              html: {
                  novalidate: true
              },
              data: {
                  controller: "form",
                  target: "form.form",
                  action: "ajax:beforeSend->form#submitForm"
              }) do |f| %>

    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Personal Data Form 
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
        
            <div class="field" style="margin: 10px">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, :required => true %>
            </div>


            <div class="field" style="margin: 10px">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, :required => true %>
            </div>

              <div class="field" style="margin: 10px">
                  <%= f.label :nick_name %>
                  <%= f.text_field :nick_name %>
              </div>

              <div class="field" style="margin: 10px">
                  <%= f.label :email %>
                  <%= f.text_field :email, :required => true %>
              </div>

              <div class="field" style="margin: 10px">
                  <%= f.label :phone_number %>
                  <%= f.text_field :phone_number, :required => true %>
              </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>

    </div>
  <% end %>
</div>